/* PAGE */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: arial, sans-serif;
}

a {
	text-decoration: none;
	font-family: arial, sans-serif;
}

li {
	display: inline-block;
}

body {
	margin: 10em auto;
	max-width: 50%;

}

/* HEADER */

#header-links {
	display: inline-block;
	float: right;
	margin-top: 1.35em;
}

.header-links {
	color: #333;
	padding: 0 .7em;
}

#sign-up {
	font-weight: bold;
}

#log-in {
	border-left: 1px solid #7D7F80;
}